<!-- extend base layout -->
{% extends 'base.html' %}

{% block html_content %}
<p><b>funicular</b> is a project born out of a Masters' <a href="http://projects.jameswong.org/thesis.html">thesis and a mutual friend</a>. James and Drew met up as part of a networking coffee break and decided to team up on this.</p>

<p>[mention GTFS Exchange]</p>

<h3><a href="http://jameswong.org">James Wong</a></h3>
<p>James is a transportation planner and engineer, based in New York. He began his career in transportation consulting where he learned where roundabouts are better than traffic signals, why big-box development has mandatory acres of parking around it, and why the old-school public process is stuck in the mud. He did this work mostly around the Mid-Atlantic and even South Africa. After that, he went back to school to nurture his interests in transit and data at the <a href="http://util.gatech.edu/">Urban Data Information Lab at Georgia Tech</a>. Almost three years later, he is now in NY where he grew up and is pursuing transportation work in consulting, the public sector, as a free-lancer - wherever the fun work lies.</p>

<h3><a href="http://drewdez.com">Andrew Desautels</a></h3>
<p>Add bio</p>

{% endblock %}

{% block script_content %}
<script>
    $("#navAboutFunicular").addClass("active");
</script>
{% endblock %}
