<!-- extend base layout -->
{% extends 'base.html' %}

{% block html_content %}
<form class="form-inline" role="form">
	<div class="form-group">
		<select class="form-control" id="state-select">
			<option value="" selected disabled>select state</option>
		</select>
	</div>
	<div class="form-group">
		<select name="agency" class="form-control" id="agency-select" required>
			<option value="" selected disabled>select agency</option>
		</select>
	</div>
	<button type="button" id="submit" class="btn btn-primary">Go!</button>
</form>
{% if active_agency %}
<div class="GTFS-table-container">
	<div class="page-header">
		<h3>Select GTFS file
			<span class="span-right"><small><a href="{{active_agency.data.agency.dataexchange_url}}">
				GTFS Data Exchange</a>
				{% if active_agency.data.agency.license_url %}
				 | <a href="{{active_agency.data.agency.license_url}}">license info</a>
				{% endif %}
				</small></span></h3>
	</div>
	<table class="table table-striped GTFS-table">
		<thead>
			<tr>
				<th>Added</th>
				<th>Description</th>
				<th>Select</th>
			</tr>
		</thead>
		<tbody>
			{% for datafile in active_agency.data.datafiles %}
			<tr>
				<td>{{momentjsunix(datafile.date_added).calendar()}}</td>
				<td>{{datafile.description}}</td>
				<td><a href="#" onclick="confirmGTFSSelection(
					'{{datafile.description}}', '{{datafile.date_added}}',
					'{{datafile.uploaded_by_user}}', '{{datafile.file_url}}'); return false;
					">select</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% endif %}
</div>
{% if active_agency %}
<div class="disclaimer-container">
	<div class="page-header">
	<h3>Fine print</h3>
	</div>
	<div class="well disclaimer-well">
		<p>Add general disclaimers here.</p>
		{% if active_agency.data.agency.license_url %}
		<p>Click <a href="{{active_agency.data.agency.license_url}}">
			here</a> for {{active_agency.data.agency.name}} GTFS licensing information.</p>
		{% else %}
		<p>No license information is available for {{active_agency.data.agency.name}}.</p>
		{% endif %}
	</div>
</div>
{% endif %}

<div class="modal fade" id="modal1" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Confirm your selection</h4>
      </div>
      <div class="modal-body">
        <p>You have chosen to create a shapefile from the following GTFS file:</p>
        <p class="GTFS-description"></p>
        <!--<p class="GTFS-date-added"></p>
        <p class="GTFS-user"></p>-->
        <p>If this is correct, please enter your email address and click "Submit" below.
        You will receive an email containing a link to download your file when it is ready.</p>
        <p>If this is not correct, please click "Cancel" below.</p>
      </div>
      <div class="modal-footer">
      	<form class="form-inline" role="form">
				  <div class="form-group">
				    <!--<label for="exampleInputEmail1">Email address</label>-->
				    <input type="email" class="form-control" id="email-input" placeholder="enter email">
				  	<button type="button" class="btn btn-primary" id="confirm">Submit</button>
		        <button type="button" class="btn btn-default" id="close-modal1"
		        	data-dismiss="modal">Cancel</button>
				  </div>
				 </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="modal2" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="myModalLabel">File processing</h4>
      </div>
      <div class="modal-body">
        <p>funicular is currently processing your GTFS file:</p>
        <p class="GTFS-description"></p>
        <!--<p class="GTFS-date-added"></p>
        <p class="GTFS-user"></p>-->
        <p>You will receive a notification at 
        	<span class="user-email">email address</span> 
        	when your file is ready.</p>
        <p>Thank you for using funicular!</p>
      </div>
      <div class="modal-footer">
      	<form class="form-inline" role="form">
				  <div class="form-group">
		        <button type="button" class="btn btn-default" id="close-modal2"
		        	data-dismiss="modal">Close</button>
				  </div>
				 </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}

{% block script_content %}
<script>
	var agency_info_url = '{{url_for('get_agencies')}}'
	getAgencies(agency_info_url);
	{% if active_agency %}
	var active_agency = true
	var active_agency_id =  '{{active_agency.data.agency.dataexchange_id}}';
	var active_agency_state = '{{active_agency.data.agency.state}}';
	{% else %}
	var active_agency = false
	{% endif %}
</script>
{% endblock %}